.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillBar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2em; 
    width: fit-content;
}

.skillBarsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 60em;
    flex-wrap: wrap;
}

.skillBar h3 {
    font-size: 1.2em;
}

.skillInfoContainer {
    border-radius: 20%;
    border: solid #eeba2c .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
    color: #eeba2c;
    width: 7em;
    height: 7em;
    padding: 1em;
    transition: all 0.4s ease-in-out; 
    margin: 0;
}

.skillInfoContainer:hover {
    background-color: #eeba2c;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 .5em #eeba2c;
}

.skillInfoContainer img {
    width: 4em;
}



@media (max-width: 1000px) {
    .skillBar {
        width: 40em;
    }
}

@media (max-width: 400px) {
    .skillBar {
        width: 25em;
    }
}