.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.aboutMe {
    width: 80%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
    gap: 3em;
}

.aboutMe p {
    font-size: 2em;
    word-spacing: 5px;
    text-align: center;
}

.aboutMe img {
    width: 30%;
    box-shadow: 0 0 2em #eeba2c76;
    border: 5px solid #eeba2c;
}

@media (max-width: 1000px) {
    .aboutMe img {
        width: 100%;
    }

    .aboutMe {
        flex-direction: column;
    }
}