.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectCard {
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 20em;
    height: 25em;
    border-radius: 25px;
    border: solid #eeba2c 0.2em;
    margin: 1em;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.projectCard:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2em #eeba2c76;
}

.projectCard:hover .content {
    opacity: 1;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    width: 101%;
    height: 101%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    opacity: 0;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    color: #eeba2c;
    font-size: 1.3em;
}
.content div {
    width: 80%;
    padding: 1em;
}

.content p {
    font-size: 1em;
    width: 80%;
    margin: 1em 10%;
}

.content a {
    color: #eeba2c;
    border: #eeba2c solid 1px;
    text-decoration: none;
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.content a:hover {
    transform: scale(1.05);
    background-color: #eeba2c;
    box-shadow: 0 0 1em #eeba2c76;
    color: #fff;
}